<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal" action="/recipes" method="GET">
      <div class="form-group form-group-lg">
        <input type="text" class="form-control" name="search" placeholder="Search recipes...">
      </div>
      <p class="text-center"><button type="submit" value="Search" class="btn btn-primary btn-lg">Search</button></p>
    </form>
  </div>
</div>

<% if @result %>
  <div class="row">
    <% @result.each do |result| %>
      <div class="col-sm-6 col-md-4">
        <img src="<%= result.images.first.small_url %>" class="img-responsive img-thumbnail" alt="...">
        <div class="caption">
          <p><a href="/recipes/<%= result.id %>"><%= result.name %></a></p>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
<% end %>


<h1>Scheduled Recipes</h1>

<% if @scheduled_recipes %>
  <ul class="scheduled_recipes">
    <% @scheduled_recipes.each do |recipe| %>
      <li id="<%= recipe.yummly_id %>">
      <a href="/recipes/<%= recipe.yummly_id %>"><%= recipe.name %></a> - 
      <%= recipe.scheduled_at.strftime("%A %B %d") %>
      <br>
      <button class="delete">delete</button>
      </li>
    <% end %>
  </ul>
<% end %>
