<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form class="form-horizontal" action="/recipes" method="GET">
      <div class="form-group form-group-lg">
        <input type="text" class="form-control" name="search" value="<%= @search_term %>" placeholder="Search recipes...">
      </div>
      <p class="text-center"><button type="submit" value="Search" class="btn btn-primary btn-lg">Search</button></p>
    </form>
  </div>
</div>
<br>
<% if @result %>
    <% @result.each do |result| %>
      <div class="col-5 col-sm-5 col-lg-3" style="height: 200px; text-align: center">
        <div style="width: 180px; height: 120px; margin: 0 auto;">
          <img src="<%= result.images.first.small_url %>" class="img-responsive img-thumbnail" alt="..." style="width: 100%;height:auto">
        </div>
        <br>
        <a href="/recipes/<%= result.id %>"><%= result.name %></a>
      </div>
    <% end %>
  </div>
  <ul class="pager">
    <li class="<%= "disabled" if @page_number == 0 %>"><a href="/recipes/<%= @search_term %>/<%= @page_number-2 %>" >Previous</a></li>
    <li><a href="/recipes/<%= @search_term %>/<%= @page_number %>">Next</a></li>
  </ul>
<% end %>



